# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea/sprite-preview.iml

*.png
*.jpg
/.idea
vcs.xml
modules.xml
/manifest.vtt
/main
